* {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 20%;
  position:relative;
}
.content-video iframe {
  height: 450px;
  width: 100%
}
.btn {
  padding: 5px 10px;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.btn-left {
  position:absolute;
  top:45%;
  left:0;
}
.btn-right {
  position:absolute;
  top:50%;
  right: 0;
}
.container-list-video h2 {
  padding: 5px;
}
.list-video li {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
}
.list-video li iframe {
  width: 100%;
}
